:root {
    --color-primario: #ceeade;
    --color-secundario: #4aad84;
    --color-terciario: #22503d;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.header {
    position: relative;
}

.main {
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.main__titulo {
    font-size: 2rem;
    margin: 0 auto;
    text-align: center;
    color: var(--color-terciario);
    margin-bottom: 1rem;
}

.login__container {
    width: 95%;
}


.login__form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 1px solid var(--color-terciario);
    padding: 1rem;
    border-radius: 10px;
    max-width: 500px;
    margin: 0 auto;
    width: 100%;
}


.login__account {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.login__input {
    border: 1px solid var(--color-terciario) !important;
    padding: .7rem;
    border-radius: 10px;
    font-size: 1rem;
}

.login__btns {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.login__btn {
    display: inline-block;
    margin: 0 auto;
    background-color: var(--color-terciario);
    color: white;
    padding: .6rem 1.3rem;
    text-decoration: none;
    border-radius: 10px;
    font-size: 1.2rem;
    transition: all 250ms ease;
}

.login__btn:hover {
    transform: scale(1.1);
}

.login__crear-cuenta {
    margin: 0 auto;
    /* background-color: red; */
    padding: .5rem;
    font-size: 1.1rem;
    text-decoration: underline;
    color: gray;
}




@media (min-width: 1200px) {
    .login__form {
        max-width: 25rem;
        height: 15rem;
    }

    .main__titulo {
        font-size: 3rem;
        margin-bottom: 2rem;
    }

    .main {
        height: 100%;
    }

    .login__form {
        justify-content: space-between;
    }

    .login__container {
        max-width: 400px;
    }

}