:root {
	--color-primario: #bfd7cd;
	--color-secundario: #4aad84;
	--color-terciario: #22503d;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	scrollbar-color: var(--color-terciario) transparent;
}

body {
	font-family: "Libertinus Serif", serif;
	overflow-x: hidden;
}

a {
	text-decoration: none;
	color: inherit;
}

ul {
	list-style: none;
}

li {
	list-style: none;
}

img {
	max-width: 100%;
	height: auto;
	display: block;
}

form,
fieldset,
legend,
label,
input,
textarea {
	margin: 0;
	padding: 0;
	border: none;
	background: none;
	font: inherit;
	box-sizing: border-box;
}

input,
textarea {
	width: 100%;
	outline: none;
	background: transparent;
	resize: none;
}

/* GLOBALES */

.subtitle {
	font-size: 3.5rem;
	text-align: center;
	color: var(--color-terciario);
	/* border-bottom: 2px solid var(--color-terciario); */
}

.sub-subtitle {
	font-size: 1rem;
	text-align: center;
	color: rgb(68, 68, 68);
}

.container {
	max-width: 1400px;
	width: 90%;
	margin: 0 auto;
}

/* HEADER */
.header {
	width: 100%;
	position: sticky;
	top: 0;
	z-index: 50;
	background-color: rgba(255, 255, 255, 0.9);
	backdrop-filter: blur(10px);
}

.header__envio {
	background-color: black;
	padding: 0.5rem;
}

.header__texto {
	color: white;
	font-size: 1rem;
	text-align: center;
}

.header__navbar {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.4rem;
	background-color: white;
	border-bottom: 2px solid var(--color-terciario);
}

.hamburguesa {
	cursor: pointer;
	z-index: 70;
}


.navbar__links {
	position: absolute;
	top: 0;
	padding: 2rem;
	right: 0;
	display: none;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 5rem;
	z-index: 70;
	background-color: var(--color-primario);
	box-shadow: 0px 30px 50px 30px rgba(0, 0, 0, 0.4);
	border-left: 0.6px solid var(--color-terciario);
	height: 100vh;
	width: 80vw;
	transition: all 250ms ease;
}

.navbar__links.active {
	display: flex;
	z-index: 90;
}

.navbar__link {
	font-size: 1.8rem;
	padding: 1rem;
	border-radius: 15px;
	transition: all 250ms ease;
}

.navbar__link:hover {
	background-color: var(--color-secundario);
}

.navbar__container-logo {
	color: var(--color-terciario);
	display: flex;
	align-items: center;
	gap: 1rem;
	max-width: 50px;
}

.navbar__title {
	font-size: 1.5rem;
	font-weight: bold;
}

.navbar__container-icons {
	color: var(--color-terciario);
	display: flex;
	gap: 1rem;
	cursor: pointer;
}

.icons-zindex {
	z-index: 60;
}

.container-icons__icon {
	font-size: 1.2rem;
}

.navbar__close {
	cursor: pointer;
	opacity: 0;
	position: absolute;
	top: 30px;
	left: 30px;
	z-index: 100;
	font-size: 1.8rem;
	color: var(--color-terciario);
}

.navbar__close.active {
	opacity: 1;
}

.carrito-container {
	z-index: 999;
	max-height: 900px;
	overflow-y: scroll;
	display: none;
	padding: 2rem;
	position: absolute;
	top: 100px ;
	left: 30px ;
	min-height: 10rem;
	height: auto;
	border: 2px solid var(--color-terciario);
	box-shadow: 0 0 25px 15px rgba(0, 0, 0, .2);
	width: 90%;
	background-color: white;
}

table {
	margin-bottom: 1rem;
}

table tr {
	margin-bottom: 1rem;
}

tbody {
	padding: 2rem;
}



tbody td {
	width: 20%;
	height: 6rem;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 1rem;
}

.carrito-container.active {
	display: block;
	z-index: 9;
}

.carrito-container tr {
	display: flex;
	justify-content: space-between;
}


.td-nombre {
	font-size: 1rem;
}

.td-precio,
.td-cantidad {
	font-size: 1.5rem;
	font-weight: bold;
}

.carrito-container table {
	width: 100%;
}

.carrito-container th {
	font-size: 1.5rem;
	border-bottom: 1px solid gray;
	padding-bottom: .5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 100%;

}

.vaciar-carrito-btn {
	padding: .8rem 1.5rem;
	background-color: var(--color-terciario);
	border-radius: 10px;
	color: white;
	display: inline-block;
	margin: 0 auto;
}


/* MAIN */

/* HERO */

.hero__descuento {
	color: white;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding: 1rem;
	height: 30vh;
	background-image: linear-gradient(to top,
			rgba(0, 0, 0, 0.5),
			rgba(0, 0, 0, 0.6)),
		url("../assets/hero-content2.avif");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	gap: 2rem;
}

.descuento__texto {
	font-size: 1.3rem;
	text-align: left;
	position: relative;
}

.descuento__texto::before {
	content: "";
	position: absolute;
	height: 4.5rem;
	width: 2px;
	background-color: white;
	top: -10px;
	left: -50px;
}

.hero__icon {
	font-size: 2.5rem;
}

/* GRID */
.grid {
	padding: 4rem 0;
}

.grid__products {
	padding: 2rem 0;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1rem;
}

.container__product {
	background-color: #efefef;
	border: 1px solid rgb(194, 194, 194);
	border-radius: 10px;
	padding: 1rem;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
	transition: all 250ms ease;
}


.container__product:hover {
	transform: scale(1.03);
}

.product__info {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	gap: 1rem;
	margin-top: 1rem;
}

.info__price {
	font-size: 1.8rem;
	font-weight: bold;
	color: var(--color-terciario);
}

.info__btn {
	padding: .8rem 1.5rem;
	background-color: var(--color-terciario);
	color: white;
	border-radius: 10px;
	font-size: 1.3rem;
	transition: all 250ms ease;
}

.info__btn:hover {
	transform: scale(1.1);
}

.product__container-img {
	max-width: 100%;
	height: auto;
	margin: 0 auto;
	border-bottom: 2px solid var(--color-terciario);
}

.container-img__imagen {
	margin-bottom: 1rem;
}


/* FOOTER */

.footer {
	position: relative;
	background-color: var(--color-terciario);
	padding: 1rem;
	text-align: center;
	font-size: 0.8rem;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.footer__container-links {
	display: flex;
	gap: 1rem;
	justify-content: center;
	align-items: center;
}

.footer__icon {
	font-size: 1.5rem;
	color: white;
	transition: all 250ms ease;
}

.footer__icon:hover {
	transform: translateY(-5px);
}

.footer__text {
	color: white;
	font-size: 1rem;
	margin: 0.3rem 0;
}

/* Modo oscuro */

.modo-oscuro {
	cursor: pointer;
}

.modo-oscuro-general {	
	background-color: rgb(0, 0, 0);
}

.titulo-oscuro {
	color: var(--color-primario);
}

.card-oscuro {
    background-color: rgb(22, 22, 22); 
    border: 1px solid var(--color-primario);
}

.card-oscuro .info__titulo,
.card-oscuro .info__price {
    color: var(--color-primario); 
}

.card-oscuro .info__btn {
    background-color: #4aad84;
    color: white;
}

.card-oscuro .product__container-img {
	border-bottom: 1px solid white;
}



.links-oscuro {
	color: var(--color-primario);
}

.container-logo-oscuro {
	color: var(--color-primario);
}

.modo-oscuro {
	position: absolute;
	top: 22px;
	right: 165px;
	color: var(--color-terciario);
}


/* 480px */

@media (min-width: 480px) {
	.grid__products {
		grid-template-columns: repeat(1, 1fr);
	}
}

/* 768px */

@media (min-width: 768px) {
	.grid__products {
		grid-template-columns: repeat(2, 1fr);
	}
}

/* 992px */

@media (min-width: 992px) {
	.grid__products {
		grid-template-columns: repeat(3, 1fr);
		gap: 2rem;
	}
}

/* 1200px */
@media (min-width: 1200px) {

	.subtitle {
		font-size: 4rem;
	}
	/* Navbar */
	.hamburguesa {
		display: none;
	}

	.modo-oscuro {
		right: 25rem;
		top: 29px;
	}

	.container-navbar {
		background-color: white;
		width: 100%;
		padding: .4rem 0;
		border-bottom: 2px solid var(--color-terciario);
		position: relative;
	}

	.navbar__links.active {
		display: none;
		z-index: 90;
	}

	.header__navbar {
		max-width: 1400px;
		margin: 0 auto;
		position: static;
		display: flex;
		border: none;
		justify-content: space-between;
		align-items: center;
		padding: 0;
		background-color: white;
	}

	.navbar__links {
		padding: 0;
		position: static;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		gap: 1rem;
		z-index: 70;
		background-color: white;
		box-shadow: none;
		border-left: none;
		height: auto;
		width: auto;
		transition: all 250ms ease;
	}

	.navbar__link {
		font-size: 1.4rem;
		padding: 0.5rem 1rem;
		border-radius: 15px;
		transition: all 250ms ease;
	}

	.navbar__container-logo {
		color: var(--color-terciario);
		display: flex;
		align-items: center;
		gap: 1rem;
		max-width: 60px;
	}

	.navbar__container-icons {
		display: none;

	}

	/* Carrito */
	.carrito-container {
		top: 100px;
		left: 1091px;
		max-width: 800px;
	}



	/* Hero */

	.hero__descuento {
		height: 60vh;
		justify-content: center;
		gap: 4rem;
	}

	.hero__icon {
		font-size: 3.5rem;
	}

	.descuento__texto {
		font-size: 2rem;
	}

	.descuento__texto::before {
		left: -40px;
		top: -6px;
	}

	/* Grid */
	.grid__products {
		grid-template-columns: repeat(4, 1fr);
		gap: 3rem;
	}

	/* FOOTER */

	.footer {
		font-size: 1rem;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		background-color: var(--color-terciario);
	}

	.footer__container-text {
		display: flex;
		gap: .5rem;
		flex-direction: column;
		align-items: end;
		justify-content: center;
	}

	.footer__container {
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}
}